* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: larger;
    
}

ul {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 5vh;
    position: fixed;
  top: 0;
  width: 100%;
  /* background-color: black; */
    
}
ul ul{
   margin-top: 53px;
    background-color: transparent;
}

li {
    padding: 0px 4vw;
}

.container {
    display: flex;
    flex-wrap: column;
    margin-top: 4vh;
    padding-right: 5px;
    padding-left: 50px;
 
  
}



.left {
    font-family: "Audiowide", sans-serif;
    color:white;
    font-size: x-large;
    padding-left: 16px;
  
  
}

.orange {
    color: orange;
}

.wrapper ul ul{
display: none;
position: absolute;
}
.wrapper ul ul li{
list-style: none;
padding-top: 5px;
display: block;
margin-top: 2px;


}
.wrapper ul li:hover > ul{
display: block;
}
.whole{
    background-image: url('https://i.ibb.co/YtPGpqF/elon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode: normal;   
}

.video{
   position:relative;
   top:0;
   padding-left: 50px;
}
