
  * {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: larger;
}

ul {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 46px;
    background-color: black;
    position: fixed;
  top: 0;
  width: 100%;
 z-index: 2;
    
}
ul ul{
    margin-top: 53px;
  background-color: transparent;
}
li {
    padding: 0px 4vw;
}
.orange {
    color: orange;
}

.wrapper ul ul{
display: none;
position: absolute;
}
.wrapper ul ul li{
list-style: none;
padding-top: 15px;
display: block;
margin-top: 2px;
}
.wrapper ul li:hover > ul{
display: block;
}
.main{
    display: flex;
    justify-content: space-between;
    }

.button{
    border: 2px solid orange;
    border-radius: 9px;
    width: 140px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
    background-color: transparent;
    position: relative;
    font-family: "Audiowide", sans-serif;
    font-size: large;
    top: 0;
    left: 90px;
 z-index: 1;
}
.tesla{
    background-image: url('https://i.ibb.co/JrgFMp5/tesla7.jpg');
    background-color: rgb(7, 7, 7);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 700px;
    padding-left: 50px;
    margin-top: 1vh;
    
    
}
.spacex{
    background-image: url('https://i.ibb.co/sgN0F3K/spacex.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-left: 50px;
}
.paypal{
    background-image: url('https://i.ibb.co/QfrM4YB/paypal2.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-left: 50px;
    
}
.openai{
    background-image: url('https://i.ibb.co/CsCNnjt/openai3.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-left: 50px;
}
.solarcity{
    background-image: url('https://i.ibb.co/qxDGC2Q/solar11.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-left: 50px;
}
.boringcompany{
    background-image: url('https://i.ibb.co/Fw40S6K/bor2.png');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-left: 50px;
}

.f{
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 375%;
    
    padding-left: 35px;

}
.g{
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: x-large;
    text-indent: 50px;
    padding-left: 35px;

}

.h{
    color: rgb(240, 243, 242);
    font-family: "Audiowide", sans-serif;
    font-size: x-large;
    text-indent: 50px;
    padding-left: 50px;

}

.blue2{
    color: rgb(78, 78, 170);
}
.blue1{
    color: rgb(27, 27, 160);
}
.black{
    color: black;
}
.silver{
    color: rgb(230, 105, 55);
}
.m{
    color: black;
    font-family: "Audiowide", sans-serif;
    font-size: x-large;
    text-indent: 50px;
    padding-left: 35px;
}
